<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
          box-sizing: border-box;
      }

      body {
          font-family: Arial, Helvetica, sans-serif;
      }

      /* Style the header */
      header {
          background-color: #666;
          padding: 20px;
          text-align: center;
          font-size: 25px;
          color: white;
      }
      nav {
          float: left;
          width: 20%;
          height: 800px;
          background: #ccc;
          padding: 20px;
      }

      /* Style the list inside the menu */
      nav ul {
          list-style-type: none;
          padding: 0;
      }

      article {
          float: left;
          padding: 20px;
          width: 80%;
          background-color: #f1f1f1;
          height: 800px;
      }

      section::after {
          content: "";
          display: table;
          clear: both;
      }

      /* Style the table */
      #authors {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      #authors td, #authors th {
          border: 1px solid #ddd;
          padding: 8px;
      }

      #authors tr:nth-child(even){background-color: #f2f2f2;}

      #authors tr:hover {background-color: #ddd;}

      #authors th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #052290;
          color: white;
      }

      /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
      @media (max-width: 600px) {
          nav, article {
              width: 100%;
              height: auto;
          }
      }
  </style>
</head>
<body>
<header>
  <h2>Books</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="<%= books_path %>">List All Books</a></li>
      <li><a href="<%= new_book_path %>">Add New Book</a></li>
    </ul>
  </nav>

  <article>
    <table id="authors">
      <tr>
        <th>Book id</th>
        <th>Book Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.id %></td>
          <td><%= book.book_title %></td>
          <td><a href="<%= edit_book_path(book) %>">Edit</a></td>
          <td> <li><%= link_to "Delete", book_path(book),
                               method: :delete,
                               data: { confirm: "Are you sure?" } %></li></td>
        </tr>
      <% end %>
    </table>
  </article>
</section>
</body>
</html>